/* General styles */
body, html, div, p, h1, h2, h3, input, label {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(49,6,70);
    color: white;
    font-family: 'Arial', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	user-select: none;
	-webkit-tap-highlight-color: rgb(0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

a img {
	border: none;
}

.message {
	margin-top: 1em;
	line-height: 1.6em;
	font-size: 0.9em;
	max-width: 600px;
	margin: 0 auto;
}

/* Header */
#header {
	overflow: auto;
	margin-bottom: 3em;
	margin-top: 1em;
}

#header img {
	float: left;
	margin-right: 3em;
}

h1, h1.message {
	margin-top: 1em;
	margin-bottom: 0.25em;
    font-size: 2.5em;
    color: rgb(210,237,248);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

#header > h1 {
    text-align: left;
	margin-bottom: 0em;
}


/* options */
#header + .options {
	margin-top: 0;
	padding-top: 3px;
}

.options {
	margin-top: 0.5em;
	padding-top: 1px;
	padding-right: 0;
	color: rgba(50,50,50,0.9);
	border-radius: 3px;
	background-color: rgb(225,225,225);
	background-image: linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);
	background-image: -o-linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);
	background-image: -ms-linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.04, rgb(212,212,212)),
		color-stop(0.62, rgb(255,255,255))
	);
}

.options label {
	font-size: 0.8em;
	display: block;
	text-indent: 1em;
}

.options input {
	position: absolute;
	top: 2px;
	right: 2em;
}

.options section {
	width: 30%;
	padding: 0.5em 2.5%;
	padding-right: 0;
	display: inline-block;
	margin-left: -2px;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
	overflow: auto;
}

.options section:first-child {
	padding-left: 2.5%;
}

.options div {
	width: 50%;
	float: left;
	position: relative;
}

.options .button {
	background: none;
	margin: 0;
	padding: 0.5em 2.5%;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}

/* game */
#game {
	margin-top: 0.5em;
	border: 1px solid rgba(200,200,200,0.1);
	/*max-width: 100% !important;
}

#game canvas {
	max-width: 100% !important;*/
}

/* button */
.button {
	display: inline-block;
	padding: 0.5em 0.75em;
	text-decoration: none;
	color: rgba(50,50,50,0.75);
	border-radius: 3px;
	background-color: rgb(225,225,225);
	background-image: linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);
	background-image: -o-linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);
	background-image: -ms-linear-gradient(bottom, rgb(212,212,212) 4%, rgb(255,255,255) 62%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.04, rgb(212,212,212)),
		color-stop(0.62, rgb(255,255,255))
	);
	margin: 0.5em 0.25em;
}

.button:hover{ 
	color: black;
}

/* The main page listing */
.content {
	margin-top: 1em;
	margin-bottom: 5em;
}
.content.list {
	-webkit-column-count: 3;
	-webkit-column-gap: 1.25em;
	-moz-column-count: 3;
	-moz-column-gap: 1.25em;
	column-count: 3;
	column-gap: 1.25em;
}

.area h2 {
	padding-top: 0.75em;
}

.area {
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	column-break-inside: avoid;
	display: table;	/* YAY MOZILLA HACK */
	width: 100%;
}

.area div {
	margin-top: 0.25em;
}

.area div input {
	padding: 0.5em;
	display: block;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	border: none;
	text-align: left;
	color: white;
	color: rgba(255,255,255,0.7);
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
	cursor: pointer;
	border-top: 1px solid rgba(205,205,205,0.025);
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

.area div input:first-child {
	border-top: none;
}

.area input:hover {
	background-color: rgba(0,0,0,0.75);
	color: rgba(255,255,255,1);
	text-indent: 1em;
}

@media all and (max-width: 500px) {

	.content.list {
		-webkit-column-count: 1;
		-webkit-column-gap: 1.25em;
		-moz-column-count: 1;
		-moz-column-gap: 1.25em;
		column-count: 1;
		column-gap: 1.25em;
		margin-top: 0;
	}

	#header  {
		text-align: center;
		margin-bottom: 0.5em;
	}

	#header img {
		float: none;
		margin: 0;
	}

	#header h1 {
		text-align: center;
		margin-top: 0;
	}

	.options label {
		display: block;
		text-align: center;
		text-indent: 0;
	}

	.options input {
		position: relative;
		left: 50%;
		margin-left: -7px;
	}

	.mobile-off {
		display: none;
	}


}

@media all and (min-width: 500px) and (max-width: 700px) {

	.content.list {
		-webkit-column-count: 2;
		-webkit-column-gap: 1.25em;
		-moz-column-count: 2;
		-moz-column-gap: 1.25em;
		column-count: 2;
		column-gap: 1.25em;
	}

	.options label {
		display: block;
		text-align: center;
		text-indent: 0;
	}

	.options input {
		position: relative;
		left: 50%;
		margin-left: -7px;
	}


}