body, ul, li, h1, h2, h3, p, div {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: rgb(49,6,70);
	color: white;
}

h2 {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

ul li {
	list-style: none;
}

/* Header CSS */
#hd.header {
	padding: 1em;
	margin-bottom: 0.75em;
	overflow: auto;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.header h1 {
	float: left;
}

.version {
	text-align: right;
	font-size: 0.75em;
}

/* Sidebar */
.tabs li {
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
}

#bd .tabview .tabs li a {
	border: none;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 3px 3px 0 0;
	margin-right: 5px;
	padding: 0.5em 0.75em;
	font-size: 0.8em;
	color: rgba(50,50,50,0.9);background: #EFEFEF; /* old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #efefef 50%, #e5e5e5 51%, #dfdfdf 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(50%,#efefef), color-stop(51%,#e5e5e5), color-stop(100%,#dfdfdf)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dfdfdf',GradientType=0 ); /* ie */
    position: relative;
    z-index: -1;
    text-decoration: none;
}

#bd .tabview .tabs {
	border: none;
}

#bd .tabview .tabs li {
	margin-bottom: -2px;
}

#bd .tabview .tabs li a:hover {
	color: rgba(50,50,50,1);
}

#bd .tabview .tabs li.yui3-tab-selected {
	margin-bottom: 0;
}

#bd .tabview .tabs li.yui3-tab-selected a {
	box-shadow: inset 0px 0px 0px #000;
	z-index: 2;
}

#api-tabview-filter {
	box-shadow: 0px 0px 10px rgba(50,50,50,0.75);
	padding: 0.5em;
	background-color: #dfdfdf;
}

#api-tabview-filter input {
	padding: 0.25em 0.5em;
	font-style: italic;
	width: 200px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#api-tabview-filter input:focus {
	font-style: normal;
	width: 300px;
}

#api-tabview-panel {
	border: 2px solid #dfdfdf;
	padding: 0;
	background: none;
}

#api-tabview-panel li a, #api-tabview-panel .message {
	padding: 0.5em;
	display: block;
	text-decoration: none;
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(205,205,205, 0.025);
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}

#api-tabview-panel li a:hover, #api-tabview-panel .message:hover {
	text-indent: 1em;
	background-color: rgba(0,0,0,0.75);
	color: rgba(255,255,255,1);
}

.sidebar {
	width: 25%;
	min-width: 300px;
	float: left;
	margin-right: 1em;
}

.sidebar .off-left {
	font-size: 1.4em;
	margin-bottom: 0.3em;
}

#doc {
	min-width: 900px;
}

/* Content */
.yui3-g {
	padding: 0.5em 1em;
	overflow: auto;
	position: relative;
}

.yui3-u-3-4 > .apidocs > #docs-main {
	width: 60%;
	float: left;
}

#api-options {
	text-align: right;
	font-size: 0.7em;
	line-height: 1em;
	position: absolute;
	right: 2.5em;
	top: 3em;
}

#api-options input {
	position: relative;
	top: 2px;
}

#api-options label {
	padding: 0.1em 0.2em;
}

.content > p {
	font-size: 0.9em;
	margin-top: 0.7em;
	color: rgba(255,255,255,0.9);
	line-height: 1.3em;
}

.content h2 {
	margin: 0.5em 0;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.content ul li {
	font-size: 0.8em;
	text-indent: 0.75em;
	padding: 0.35em;
}

kbd {
	font-size: 1.4em;
}